<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>
<p><%= @user.bio %></p>
<%= image_tag @user.avatar.url(:icon) %>
<ul>
  <% @user.listings.each do |chair| %>
    <li><a href="<%= listing_url(chair) %>"><%= chair.name %> - <%= chair.location %> </li>
  <% end %>
</ul>

 <%= button_to "Send #{@user.name} a message", new_user_message_url(@user.id), method: :get %>
