<h1> Welcome, <%= current_user.name %>!</h1>

<h2>Listings</h2>
  <% current_user.listings.each do |chair| %>
    <li><%= chair.name %> - <%= chair.description %></li>
  <% end %>

<h2>Messages</h2>
    <% current_user.received_messages.each do |message| %>
    <li><a href="<%= message_url(message)%>"><%= message.subject %></a> from <%= message.author %> - Read? <%= message.read %></li>
    <% end %>
    
<h2>Reservations</h2>
  <% current_user.reservations.each do |res| %>
    <li><%= res.start %> to <%= res.end %> %></li>
  <% end %>
  
<h2>Reviews</h2>
  <h4>Written</h4>
    <% current_user.written_reviews.each do |review| %>
      <li><%= review.title %></li>
    <% end %>
  <h4>About</h4>
  <% current_user.received_reviews.each do |review| %>
    <li><%= review.reservation.chair.name %> - <%= review.title %></li>
  <% end %>