<!DOCTYPE html>
<html>
<head>
  <title>ChairBnB</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<% if flash[:errors] %>
  <ul class="error-messages">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<body>
  
<div class=main-navbar>    
  <a href="/">
    <img src="<%= asset_path('chairbnb_icon.png') %>" class="header-icon"></img>
  </a>

  <% if current_user %>
    <%= button_to "Logout", session_url, method: :delete, class: "logout-header" %>
    <a href="#dashboard" class="dashboard-header">Dashboard</a>
    <div class="username-header">Hi, <%= current_user.name %>!</div>
    <a href="<%= new_listing_url %>" class="addchair-header">Add Chair</a>

   
  <% else %>
    <a href="<%= new_session_url %>" class="login-header">Log In</a>
    <a href="<%= new_user_url %>" class="login-header">Sign Up</a>
  <% end %>
</div>
  <div class="content group">
  <%= yield %>
  </div>

<div class="footbar"> 
  <a href="#">Team</a>
  <a href="#">About</a>
  <a href="#">About</a>
</div>
</body>

<script>
  $(ChairBnB.initialize);
</script>
</html>
