<!DOCTYPE html>
<html>
<head>
  <title>ChairBnB</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
</head>
<% if flash[:errors] %>
  <ul class="error-messages">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<body>
  
<nav class=main-navbar>   
   
  <a href="/">
    <img src="<%= asset_path('chairbnb_icon.png') %>" class="header-icon">
    <img src="<%= asset_path('logo-med.png') %>" class="header-logo">
  </a>
  
  <div class="search-box group">
    <img src="<%= asset_path('search-icon.png') %>" class="search-icon">
    <input type="text" class="search-form" value ="Search...">
  </div>

  <% if current_user %>
    <%= button_to "Logout", session_url, method: :delete, class: "logout-header" %>
    <a href="#dashboard" class="dashboard-header">Dashboard</a>
    <div class="username-header">Hi, <%= current_user.name %>!</div>
    <a href="#/listings/new" class="addchair-header">Add Chair</a>

   
  <% else %>
    <a href="<%= new_session_url %>" class="login-header">Log In</a>
    <a href="<%= new_user_url %>" class="login-header">Sign Up</a>
  <% end %>
</nav>
  <div id="content" class="content group">
  <%= yield %>
  </div>
</body>
<footer>
  <a href="#">Team</a>
  <a href="#">About</a>
  <a href="#">About</a>
</footer>
<script>
  $(ChairBnB.initialize);
</script>
</html>
