<!DOCTYPE html>
<html>
<head>
  <title>ChairBnB</title>
  <%= csrf_meta_tags %>
</head>
<% if flash[:errors] %>
  <ul class="error-messages">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

  <% if current_user %>
    <%= current_user.name %>
    Logged in
    <%= button_to "Logout", session_url, method: :delete %>
    <a href="<%= new_listing_url %>">Add Chair</a>
  <% else %>
    <a href="<%= new_session_url %>">Log In</a>
    <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>

<body>


<%= yield %>

</body>
</html>
